.uploadfile-child-1 {
    order: 2;
}

.uploadfile-child-2 {
    order: 1;
}

@media (min-width: 640px) {
    .uploadfile-child-1 {
        order: 1;
        width: 200px;
    }

    .uploadfile-child-2 {
        order: 2;
    }
}